<div class="col-12 col-md-4 area-service">
  <div class="card card-service">
    <%= image_tag service.image %>
    <div class="card-body">
      <h4 class="card-title"><%= service.name %></h4>
      <p class="card-text"><%= service.major_name %></p>
      <%= link_to "See Profile", service, class:"btn btn-primary float-right" %>
    </div>
  </div>
</div>
