$white: #fff;
$gray: #a5a5a5;
$drark-blue: #161e46;

.team-area {
  .single-team {
    .team-img {
      overflow: hidden;
      img {
        width: 100%;
        transform: scale(1);
        transition: all 0.6s ease-out 0s;
      }
    }
    .team-caption {
      padding: 30px 20px 30px 50px;
      background: $white;
      border: 1px solid $white;
      border-top: 0;
      @include transition(0.4s);
      span {
        color: $gray;
        font-size: 14px;
        font-weight: 300;
        font-family: $font_1;
        display: block;
        margin-bottom: 30px;
      }
      h3 {
        a {
          color: $drark-blue;
          font-weight: 700;
          font-size: 25px;
          margin-bottom: 10px;
          display: block;
        }
      }
      &:hover {
        border: 1px solid transparent;
        border-top: 0;
        @include transition(0.4s);
        background: rgb(15, 102, 248);
        span {
          color: $white;
        }
        h3 {
          a {
            color: $white;
          }
        }
        .team-social {
          a {
            color: $white;
            border: 1px solid$white;
          }
        }
      }
    }
  }
}
.single-team:hover .team-img img {
  transform: scale(1.05);
}

.brand-area {
  background: #f7f7f7;
  .single-brand.slick-slide {
    opacity: 0.7;
  }
}

// footer social
.team-social {
  a {
    color: $gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    border: 1px solid $white i {
      display: inline-block;
    }
  }
}
