/.bundle

/db/*.sqlite3
/db/*.sqlite3-*

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
.byebug_history

/config/master.key
/config/database.yml

.framgia-ci-reports/
.framgia-ci-result.temp.yml

/config/master.key

# Ignore master key for decrypting credentials and more.
/config/master.key

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

coverage
