@import "bootstrap";
@import "font-awesome";
@import "scss/style.scss";
@import "sidebar.scss";
@import "static_pages.scss";
@import "manage_order.scss";


.pagination {
  margin-top: 80px;
  margin-left: 35%;
  
}

.pagination a, em {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 0;
  text-align: center;
  // padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  color: $gray;
  border: 1px solid $gray;
  margin-right: 10px;

  i,
  span {
      font-size: 13px;
  }

  &:hover {
      background-color: blue;
      color: white;
  }
}

.main {
  padding-left: 300px;
}

.table {
  border: 1px solid gray;
}

.table .table-head{
  background-color: black;
  color: aliceblue;
}
.table img{
  width: 100px;
  height: auto;
}

