@import "bootstrap";
@import "font-awesome";
@import "scss/style.scss";

$color-red: red;
$state-danger-text: red;

#error_explanation {
  color: $color-red;
  ul {
    color: $color-red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: $state-danger-text;
  }
}
