.info {
  display: none;
}


.table-head-detail {
  background-color: darkgray;
}

.btn-group {
  font-size: 15px;
  width: 100%;
  margin: 20px 0 20px 0;
}
.button-filter {
  text-align: center;
  background-color: white;
  color: black;
  outline: none;
  border: none;
  width: 100%;
}
.button-filter:hover {
  border-bottom: 2px solid orange;
  color: orange;
}
.button-filter:active {
  border-bottom: 2px solid orange;
}
