<tr>
  <td><%= work_history.id %></td>
  <td><%= work_history.service.name %></td>
  <td><%= number_to_currency(work_history.into_money) %></td>
  <td><%= l work_history.updated_at, format: :long %></td>
</tr>
