  <div class="comments-area">
    <h1><%= t("views.accounts.review.reviews", total: reviewable.reviews.count) %></h1>
    <div class="comment-list">
      <% @reviews.each do |review| %>
        <%= render partial: "reviews/review", locals: {review: review} %>
      <% end %>
      <%= will_paginate @reviews %>
    </div>
  </div>
  <%= render partial: "reviews/form_review", locals: {reviewable: reviewable} if logged_in?%>
</div>
