
<div class="single-comment justify-content-between d-flex">
  <div class="user justify-content-between d-flex">
    <div class="thumb">
      <%= image_tag review.account.display_image if review.account.image.attached? %>
    </div>
    <div class="desc">
      <p class="comment">
        <%= review.content %>
      </p>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <h5><%= review.account.full_name %></h5>
          <p class="date"><%= review.created_at %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
